<header class="header-style">
  <div
    class="container container-header"
    class="header-margin"
    data-aos="fade-down"
    data-aos-delay="300"
    data-aos-duration="2000"
    data-aos-easing="ease-in-out"
  >
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">
        <svg class="header-icon" width="168" height="16">
          <use href="./public/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-a" href="#how-it-works">How It Works</a>
        </li>
        <li class="header-item">
          <a class="header-a" href="#vegetable">Vegetables</a>
        </li>
        <li class="header-item">
          <a class="header-a" href="#reviews">Reviews</a>
        </li>
      </ul>
      <button class="button-style" type="button">Shop now</button>
      <button class="button-menu" type="button" data-modal-open>
        <svg class="open-btn-icon" width="20" height="20">
          <use href="./public/symbol-defs.svg#icon-burger-thin"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
