<section class="how-it-works" id="how-it-works">
  <div class="container container-how-it-works" fade-right>
    <h2 class="visually-hidden">How it works</h2>
    <div class="works-box">
      <picture class="how-it-works-card">
        <source
          srcset="../img/img-desktop-1x.jpg 1x, ../img/img-desktop-2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="../img/img-tablet-1x.jpg 1x, ../img/img-tablet-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="../img/image-mob.jpg 1x, ../img/image-mob-2x.jpg 2x"
          media="(min-width: 320px) and (max-width: 375px)"
        />
        <img
          class="how-it-works-img"
          src="./img/img-desktop-1x.jpg"
          alt="a woman is chopping a fruits"
          width="430"
        />
      </picture>
    </div>
    <div
      class="works-box-two"
      data-aos="fade-left"
      data-aos-delay="300"
      data-aos-duration="2000"
    >
      <h2 class="how-it-works-title">
        To order your <span class="accent-hiw">vegetable </span> basket, simply
        follow these
        <span class="accent-hiw">easy steps</span>
      </h2>
      <p class="how-it-works-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ul class="how-it-works-list">
        <li class="how-it-works-item">
          <p class="how-it-works-number">1</p>
          <p class="how-it-works-list-item-text">
            Just choose <span class="item-text-part"> the vegetable </span> you
            want to order by clicking on the checkboxes
            <span class="item-text-part">next to it</span>.
          </p>
        </li>
        <li class="how-it-works-item">
          <p class="how-it-works-number">2</p>
          <p class="how-it-works-list-item-text">
            Click on <span class="item-text-part"> the basket </span> and fill
            out the form.
          </p>
        </li>
        <li class="how-it-works-item">
          <p class="how-it-works-number">3</p>
          <p class="how-it-works-list-item-text">
            Sit back and relax! Your
            <span class="item-text-part"> fresh vegetables </span> basket will
            be delivered.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
