<section>
  <div class="menu-backdrop is-open" id="mobile-menu" data-modal>
    <div class="mob-menu" id="mobile-menu">
      <button type="button" class="menu-close-btn" data-modal-close>
        <svg class="icon">
          <use
            href="../img/Component.svg#icon-Component-2-1"
            width="20px"
            height="20px"
          ></use>
        </svg>
      </button>

      <nav class="mob-menu-nav">
        <ul class="mob-menu-ul">
          <li class="mob-menu-li">
            <a class="mob-menu-a" href="how-it-works">How It Works</a>
          </li>
          <li class="mob-menu-li">
            <a class="mob-menu-a" href="#vegetable">Vegetables</a>
          </li>
          <li class="mob-menu-li">
            <a class="mob-menu-a" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>

      <button class="mob-menu-btn" type="button">Shop now</button>
    </div>
  </div>
</section>
