<div class="menu-backdrop js-menu-container" id="mobile-menu" data-modal>
    <div class="mob-menu js-menu-container" id="mobile-menu">
    <button
      type="button"
      class="menu-close-btn js-close-menu"
      data-modal-close
    >
      <svg class="close-btn-icon" width="20" height="20">
        <use href="./public/symbol-defs.svg#icon-close-thin"></use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-menu-ul">
        <li class="mob-menu-li">
          <a class="mob-menu-a" href="#how-it-works">How It Works</a>
        </li>
        <li class="mob-info-li">
          <a class="mob-menu-a" href="#vegetable">Vegetables</a>
        </li>
        <li class="mob-info-li">
          <a class="mob-menu-a" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="mob-menu-btn" type="button">Shop now</button>
    </div>
</div>
</header>
