<section class="order">
  <div class="container container-order">
    <div
      data-aos="fade-right"
      data-aos-delay="300"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out"
    >
      <h2 class="order-title">
        Fresh <span class="order-part"> Harvest</span> Box has got you covered
      </h2>
      <p class="order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <div class="order-block">
        <div
          class="order-form"
          data-aos="zoom-out-down"
          data-aos-delay="100"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
        >
          <p class="form-text">
            Ordering <span class="order-text-part">from us</span> is quick and
            easy! Fill out <span class="order-part-two"> the form</span> below
            and we will contact you !
          </p>
          <form class="form-contact" name="form-contact">
            <label for="user-name" class="contact-label"></label>
            <input
              type="text"
              name="name"
              id="user-name"
              placeholder="Full Name"
              class="contact-imput"
            />
            <label for="user-email" class="contact-label"></label>
            <input
              type="email"
              name="email"
              id="user-email"
              placeholder="Email"
              required
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              class="contact-imput"
            />
            <label for="user-comment" class="label-textarea"></label>
            <textarea
              class="contact-textarea"
              name="user-comment"
              id="user-comment"
              placeholder="Comment"
              rows="5"
            ></textarea>
            <button type="submit" class="contact-button">Send</button>
          </form>
        </div>
        <div
          class="order-link"
          data-aos="zoom-out-down"
          data-aos-delay="100"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
        >
          <picture>
            <source
              srcset="
                ./img/img-end-desktop-1x.jpg 1x,
                ./img/img-end-desktop-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/img-end-tablet-1x.jpg 1x,
                ./img/img-end-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/img-end-mobile-1x.jpg 1x,
                ./img/img-end-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="order-link-card"
              src="./img/img-end-desktop-1x.jpg"
              alt="Online Courses"
              loading="lazy"
              width="528"
            />
          </picture>
          <p class="order-link-text">Follow us on our social networks:</p>
          <ul class="social_list">
            <li class="social_items">
              <a href="https://www.instagram.com/goitclub/" class="social_links"
                >instagram</a
              >
            </li>
            <li class="social_items">/</li>
            <li class="social_items">
              <a href="https://www.facebook.com/goITclub/" class="social_links"
                >facebook</a
              >
            </li>
            <li class="social_items">/</li>
            <li class="social_items">
              <a href="https://www.youtube.com/c/GoIT" class="social_links"
                >youtube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
