<section class="vegetables">
  <div class="container vegetables-container">
    <h2 class="vegetables-title">
      organic <span class="vegetables-title-part"> vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">eggplant</h3>
        <p class="vegetables-subtitle-text">60 USD / kg</p>
        <img
          class="vegetables-card"
          src="./img/eggplant-desktop.png"
          alt="Photo with three eggplants"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">leek</h3>
        <p class="vegetables-subtitle-text">50 USD / kg</p>
        <img
          class="vegetables-card"
          src="./img/leek-desktop.png"
          alt="Photo of leeks"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">mushrooms</h3>
        <p class="vegetables-subtitle-text">40 USD / kg</p>
        <img
          class="vegetables-card"
          src="./img/mushrooms-desktop.png"
          alt="Photo of mushrooms"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">corn</h3>
        <p class="vegetables-subtitle-text">60 USD / kg</p>
        <img
          class="vegetables-card"
          src="./img/corn-desktop.png"
          alt="Photo of corn"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">sweet potatoes</h3>
        <p class="vegetables-subtitle-text">50 USD / kg</p>
        <img
          class="vegetables-card"
          src="./img/batata-desktop.png"
          alt="Photo of sweet potatoes"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">carrot</h3>
        <p class="vegetables-subtitle-text">40 USD / kg</p>
        <img
          class="vegetables-card"
          src="./img/carrot-tablet.png"
          alt="Photo of carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
