<section class="vegetables" id="vegetable">
  <div class="container vegetables-container"       data-aos="fade-right"
  data-aos-delay="300"
  data-aos-duration="2000"
  data-aos-easing="ease-in-out">
    <h2 class="vegetables-title">
      organic <span class="vegetables-title-part"> vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list">
      <li class="vegetables-item"         data-aos="flip-left"
      data-aos-delay="500"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out">
        <h3 class="vegetables-subtitle">eggplant</h3>
        <p class="vegetables-subtitle-text">60 USD / kg</p>
        <img
          class="vegetables-card"
          loading="eager"
          srcset="../img/eggplant-desktop.png 1x, ../img/eggplant-desktop-2x.png 2x"
          src="./img/eggplant-desktop.png"
          alt="Photo with three eggplants"
          width="282"
          height="243"
        />
     </li>
      </li>
      <li class="vegetables-item"         data-aos="flip-left"
      data-aos-delay="500"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out">
        <h3 class="vegetables-subtitle">leek</h3>
        <p class="vegetables-subtitle-text">50 USD / kg</p>
        <img
          class="vegetables-card"
          loading="eager"
          srcset="../img/leek-desktop.png 1x, ../img/leek-desktop-2x.png 2x"
          src="./img/leek-desktop.png"
          alt="Photo of leeks"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item"         data-aos="flip-left"
      data-aos-delay="500"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out">
        <h3 class="vegetables-subtitle">mushrooms</h3>
        <p class="vegetables-subtitle-text">40 USD / kg</p>
        <img
          class="vegetables-card"
          loading="eager"
          srcset="../img/mushrooms-desktop.png 1x, ../img/mushrooms-desktop-2x.png 2x"
          src="./img/mushrooms-desktop.png"
          alt="Photo of mushrooms"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item"         data-aos="flip-left"
      data-aos-delay="500"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out">
        <h3 class="vegetables-subtitle">corn</h3>
        <p class="vegetables-subtitle-text">60 USD / kg</p>
        <img
          class="vegetables-card"
          loading="eager"
          srcset="../img/corn-desktop.png 1x, ../img/corn-desktop-2x.png 2x"
          src="./img/corn-desktop.png"
          alt="Photo of corn"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item"         data-aos="flip-left"
      data-aos-delay="500"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out">
        <h3 class="vegetables-subtitle">sweet potatoes</h3>
        <p class="vegetables-subtitle-text">50 USD / kg</p>
        <img
          class="vegetables-card"
          loading="eager"
          srcset="../img/batata-desktop.png 1x, ../img/batata-desktop-2x.png 2x"
          src="./img/batata-desktop.png"
          alt="Photo of sweet potatoes"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item"         data-aos="flip-left"
      data-aos-delay="500"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out">
        <h3 class="vegetables-subtitle">carrot</h3>
        <p class="vegetables-subtitle-text">40 USD / kg</p>
        <img
          class="vegetables-card"
          loading="eager"
          srcset="../img/carrot-desktop.png 1x, ../img/carrot-desktop-2x.png 2x"
          src="./img/carrot-tablet.png"
          alt="Photo of carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
