.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7a3145;
  height: 100%;
}
.container-footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
  margin-bottom: 14px;
  transition: transform 0.2s ease;
}

.footer-logo:hover {
  transform: scale(1.05);
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 128%;
  color: white;
  margin-bottom: 40px;
}

.footer-list {
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}

.footer-item {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  transition: transform 0.2s ease;
}

.footer-item:hover {
  transform: scale(1.05);
}

.footer-address-list {
  display: block;
}

.tel {
  margin-bottom: 14px;
}

.footer-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: white;
  text-transform: capitalize;
  font-style: normal;
}

.terms {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.terms-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #d4bfc4;
  transition: transform 0.2s ease;
}

.terms-item:hover {
  transform: scale(1.05);
}

.rights-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #d4bfc4;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-container {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
  }

  .footer-icon {
    width: 194px;
    height: 18px;
    margin-bottom: 24px;
  }

  .footer-text {
    font-size: 16px;
    line-height: 125%;
    width: 265px;
  }

  .footer-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-rigth {
    display: block;
    gap: 24px;
  }

  .footer-item {
    font-size: 32px;
    line-height: 100%;
  }

  .tel {
    margin-bottom: 24px;
  }

  .footer-link {
    font-size: 16px;
    line-height: 125%;
  }

  .terms-item {
    font-size: 16px;
    line-height: 125%;
  }

  .rights-title {
    font-size: 16px;
    line-height: 125%;
  }
}

@media screen and (min-width: 1280px) {
  .footer-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .container-footer {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer-box-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-rigth {
    margin-right: 250px;
  }
  .footer-list {
    margin-bottom: 0;
    margin-right: 121px;
  }

  .rights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .terms {
    margin-bottom: 0;
  }
}
