.header-style {
  position: fixed;
  z-index: 100;
  border-radius: 30px;
  top: 20px;
  left: 0;
  width: 100%;
  height: 52px;
  display: flex;
  background-image: linear-gradient(rgba(1, 0, 0, 0.7), rgba(4, 34, 4, 0));
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  /*max-width: 375px;*/
}

.header-logo {
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 8px;
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s ease;
  width: 168px;
  margin-right: 125px;
}

.header-logo:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.button-menu {
  display: block;
  background-color: transparent; /* Прозорий фон */
  border: none;
  color: white;
  padding: 8px;
  transition: transform 0.2s ease;
}

.button-menu:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.header-item,
.button-style {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
  }

  .header-logo {
    margin-right: 478px;
  }

  .header-icon {
    width: 194px;
    height: 18px;
  }

  .open-btn-icon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header-style {
    display: flex;
    align-items: center;
    height: 82px;
  }

  .container-header {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .button-menu {
    display: none;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .header-a {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: white;
  }

  .header-logo {
    width: 216px;
    height: 20px;
    margin-right: 366px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-item {
    border: 1px solid white;
    border-radius: 12px;
    width: 118px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
  }

  .header-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: 1px solid #7a3145;
  }

  .button-style {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    border-radius: 30px;
    margin-left: 20px;
    align-items: center;
    white-space: nowrap;
    width: 157px;
    height: 52px;
    padding: 16px 32px;
    display: block;
    border: none;
    background-color: #7a3145;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.2);

    transition: transform 0.2s ease;
  }

  .button-style:hover,
  .button-style:active {
    background-color: #d4bfc4;
    color: #7a3145;
    transform: scale(1.05);
  }
}
