.reviews {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-reviews {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: black;
  width: 320px;
  margin-bottom: 20px;
}

.reviews-title-part {
  color: #576f35;
}

.reviews-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: black;
  width: 320px;
  margin-bottom: 40px;
}

.reviews-list {
  margin: 0 auto;
}

.reviews-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  padding: 20px 16px;
  max-width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.one,
.two {
  display: none;
}

.reviews-csrd {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;
}

.reviews-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #858585;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-reviews {
    width: 768px;
    width: 100%;
  }

  .reviews-title {
    font-size: 64px;
    line-height: 100%;
    width: 553px;
    margin-bottom: 24px;
  }

  .reviews-text {
    font-size: 16px;
    line-height: 125%;
    width: 553px;
    margin-bottom: 52px;
  }

  .reviews-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .reviews-item {
    padding: 20px;
    max-width: 340px;
  }

  .one {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .container-reviews {
    max-width: 1280px;
    width: 100%;
  }

  .reviews-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .two {
    display: block;
  }
}
