.vegetables {
  background-color: #7a3145;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.vegetables-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 1280px;
  width: 100%;
}

.vegetables-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: white;
  width: 505px;
  margin-bottom: 24px;
}

.vegetables-title-part {
  color: #d4bfc4;
}

.vegetables-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: white;
  width: 626px;
  margin-bottom: 52px;
}

.vegetables-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 28px;
}

.vegetables-item {
  border-radius: 40px;
  padding: 32px;
  width: 344px;
  height: 380px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  text-align: left;
}

.vegetables-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.vegetables-subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  margin-bottom: 11px;
}

.vegetables-subtitle-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: black;
  margin-bottom: 8px;
}
